*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle files
.gradle/
build/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Intellij
.idea/*
*.iml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
workspace.xml
.idea/
.idea
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp